<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag @post.thumbnail, alt: @post.title[..10], class: 'img-fluid rounded-start', style: 'object-fit: cover;height: 100%;' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= link_to @post.title, @post %></h5>
        <p class="card-text"><%= @post.content %></p>
        <div class="w-full d-flex justify-content-between">
          <p class="card-text"><small class="text-muted"><%= time_ago_in_words(@post.created_at) %></small></p>
          <%= link_to 'read more', @post %>
        </div>
      </div>
    </div>
  </div>
</div>
