<!DOCTYPE html>
<html>
  <head>
    <title>Blogin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render AlertComponent.new(flash: flash) %>
    <div class="container mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
